[submodule "tracktion_engine"]
	path = tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine
	branch = master
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	branch = main
